html,
body {
  margin: 0;
  padding: 0;
}

body.dimmed {
  position: relative;
}

body.dimmed:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

header h2 {
  width: 100%;
  text-align: center;
  font-size: 28px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .wordle-con {
  width: 500px;
  margin: 0 auto;
}

main .wordle-con .wordle-block {
  margin-top: 8px;
}

main .wordle-con .wordle-block .wordle-area {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  justify-content: center;
}

main .wordle-con .wordle-block .wordle-area .wordle-each {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.05);
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}

main .wordle-con .wordle-block .wordle-area .wordle-each:hover {
  border: 2px solid rgb(205, 80, 251);
}

main .wordle-con .wordle-key > div {
  margin-bottom: 8px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

main .wordle-con .wordle-key > div > div {
  width: 50px;
  height: 55px;
  border-radius: 5px;
  background-color: rgb(78, 77, 77);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  cursor: pointer;
}

main .wordle-con .wordle-key > div#bottom > div.enter,
main .wordle-con .wordle-key > div#bottom > div.back {
  width: 80px;
}

main .wordle-msg {
  display: none;
  width: 300px;
  height: 100px;
  position: fixed;
  z-index: 11;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

main .wordle-msg .buttons {
  width: 100%;
}

main .wordle-msg .buttons button {
  width: 100%;
  padding: 8px 0;
  border: none;
  background-color: rgb(220, 60, 80);
  color: #fff;
  cursor: pointer;
}

main .timer-wrap {
  font-size: 28px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  margin-top: 8px;
}
